*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/app/.cxx
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
*.log
.vscode/
*.hprof
.arts
.codeartsdoer
.codebuddy
*.gguf
*.onnx
*.aar
app/libs/
app/src/main/assets/models/
